
@model IEnumerable<WeatherReports.ViewModels.WeatherViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(m => m.Data)</th>
                <th>@Html.DisplayNameFor(m => m.Time)</th>
                <th>@Html.DisplayNameFor(m => m.Temperature)</th>
                <th>@Html.DisplayNameFor(m => m.Humidity)</th>
                <th>@Html.DisplayNameFor(m => m.Td)</th>
                <th>@Html.DisplayNameFor(m => m.AtmosphericPressure)</th>
                <th>@Html.DisplayNameFor(m => m.WindDirection)</th>
                <th>@Html.DisplayNameFor(m => m.WindSpeed)</th>
                <th>@Html.DisplayNameFor(m => m.Cloudiness)</th>
                <th>@Html.DisplayNameFor(m => m.H)</th>
                <th>@Html.DisplayNameFor(m => m.WeatherPhenomena)</th>
                <th>@Html.DisplayNameFor(m => m.Temperature)</th>
               
            </tr>
        </thead>
    </table>
    
</div>


